controllers:
  main:
    replicas: 1
    strategy: Recreate
    initContainers:
      init:
        image:
          pullPolicy: IfNotPresent
          repository: busybox
          tag: 1.37 # https://hub.docker.com/_/busybox/tags
        command:
          - sh
          - -c
          - sysctl -w net.ipv4.ip_forward=1 && sysctl -w net.ipv4.conf.all.forwarding=1
        securityContext:
          privileged: true
          capabilities:
            add:
            - NET_ADMIN
    containers:
      main:
        image:
          pullPolicy: IfNotPresent
          repository: ghcr.io/wg-easy/wg-easy
          tag: "{{.Chart.AppVersion}}"
        env:
          DISABLE_IPV6: "true" # https://wg-easy.github.io/wg-easy/v15.1/advanced/config/optional-config/
        securityContext:
          capabilities:
            add: ["NET_ADMIN", "SYS_MODULE"]

service:
  main:
    ports:
      http:
        port: 51821
        targetPort: 51821
  wg:
    controller: main
    primary: false
    type: LoadBalancer
    # loadBalancerIP: <YOUR IP>
    ports:
      wg:
        port: 51820
        targetPort: 51820
        protocol: UDP

persistence:
  config:
    enabled: false
    size: 100Mi
    globalMounts:
      - path: /etc/wireguard
        readOnly: false

ingress:
  main:
    enabled: false
    hosts:
      - host: chart-example.local
        paths:
          - path: /
            pathType: Prefix
            service:
              name: main
